<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하루일기</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <script src="../src/main.js" defer></script>
</head>
<body>
    <header>
        <img src="icon.png" alt="">
        <h1>하루일기</h1>
    </header>
    <section class="container">
        <section class="section--left">
            <div class="calendar">

                <div class="yearmonth">
                    <button class="moveto lastmonth"><i class="fas fa-caret-left"></i></button>
                    <span class="year"></span>
                    <span class="month"></span>
                    <button class="moveto nextmonth"><i class="fas fa-caret-right"></i></button>
                </div>
                <table class="date"></table>
            </div>
            <div class="diary--list">
                <!-- <a href="writeDiary.html"> -->
                    <button class="add-diary"><i class="fas fa-plus"></i></button>
                <!-- </a> -->
                <span>New Diary</span>
                <ul class="diarys">
                    <% diarys.forEach(function(diary, index){ %>
                        <li class="diary">
                            <span class="diary--title"><%= diary.title %></span>
                            <button class="delete-diary"><i class="fas fa-trash-alt"></i></button>
                        </li>
                    <% })%>
                </ul>
            </div>
        </section>
        <!-- <div class="clear"></div> -->
        <section class="section--right">
            <% if(diarys.length == 0) { %>
                <h1>작성된 일기가 없습니다.</h1>
            <% } else {%>
            <div class="main--data">
                <h1><%= diarys[0].title %></h1>
                <div class="main btns">
                    <button class="btn--edit">수정</button>
                    <button class="btn--delete">삭제</button>
                </div>
            </div>
            <div class="main--content">
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dicta id, odio voluptate enim quos corporis nostrum ullam numquam illum mollitia. Saepe praesentium quos minus, nostrum pariatur exercitationem cupiditate ducimus?</p> -->
                <%= diarys[0].content %>
            </div>
            <% } %>
        </section>
    </section>
</body>
</html>