<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하루일기</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <script src="../src/writeDiary.js" defer></script>
</head>
<body>
    <header>
        <img src="icon.png" alt="">
        <h1>하루일기</h1>
    </header>
    <section class="section--write">
        <input class="input--title" type="text" placeholder="제목" value="<%=diary.title%>">
        <textarea class="content" name="" id="" cols="30" rows="10"><%=diary.content%></textarea>
        <div class="write btns">
            <button class="btn--save">저장</button>
            <button class="btn--delete">삭제</button>
        </div>
    </section>
</body>
</html>